<span>Beta!</span>
<h1>Communikatr</h1>

<p>Choose the way in which you wish to communikate and we'll do the rest. </p>


<%= form_tag '/messages', :remote => true do %>
  <div id="radio_buttons">
    <%= radio_button_tag :method, 'text' %>
    <%= label_tag 'Text' %>
    <%= radio_button_tag :method, 'email' %>
    <%= label_tag 'Email' %>
    <%= radio_button_tag :method, 'twitter' %>
    <%= label_tag 'Twitter' %>
  </div>

<br>
  <div id="feature_form">
    <%= text_field_tag 'to', nil, :placeholder => 'To (enter phone # or email)' %>
    <%= text_area_tag 'msg', nil, :placeholder => 'Message' %>
    <%= submit_tag 'Send Message', :id => "messages_button" %>
  </div>
<% end %>
